body {
    margin: 0;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    font-size: 40px;
}

h4 {
    font-size: 18px;
}

p {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 400;
    margin-top: 0px;
}

img {
    width: 100px;
}

#hero-section {
    height: 400px;
    background-image: url(images/aville.jpg);
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 0px;
}

.mainh1 {
    background-color: #1D3557;
    color: white;
    padding: 5px 12px;
    border-radius: 12px;
}

.mainh2 {
    background-color: #457B9D;
    color: white;
    width: 500px;
    padding: 12px 12px;
    border-radius: 12px;
    margin-top: -10px;
}

#activities-section {
    height: 380px;
    background-color: #F1FAEE;
    margin-top: -10px;
    padding: 25px;
}

#activities-title {
    color: #1D3557;
    font-size: 24px;
    margin-bottom: 54px;
}

.activity {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    width: 190px;
}

.activitylist {
    margin: 0 auto 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: end;
    width: 720px;
}

.activity-image {
    border-radius: 50%;
    width: 100px;
    height: 100px;
    object-fit: cover;
    overflow: hidden;
    transform: scale(1); /* Initial size */
    transition: transform 0.3s;
}

.activity-image:hover {
    transform: scale(1.2); /* Increase the size by 5% */
    transition: transform 0.3s; /* Add a smooth transition for the effect */
}

#guide-section {
    display: flex;
    justify-content: center;
    padding: 50px;
}

#guide-card {
    width: 400px;
    height: 300px;
    background-color: #A8DADC;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    border-bottom: solid 5px #1D3557;
    padding: 10px;
}

#guide-card-info {
    color:#1D3557;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 190px;
    padding: 10px;
}

#guide-title {
    font-size: 25px;
}

#guide-about {
    font-style: italic;
}

#guide-name {
    font-size: 17px;
    margin-top: 8px;
}

#guide-image {
    width: 180px;
    height: 280px;
    object-fit: cover;
    border-radius: 10px;
}